/* Navbar Properties */

.nav-bar {
    max-width: 80%;
    margin: 0 auto;
    color: white;
    background-color: black;
    height: 50px;
}

/* Format Links and remove Bullets */

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: unset;
}

/* Format Links */

.nav-bar ul li {
    display: block;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}

/* Setup each link item */

.nav-bar ul li a {
    display: block;
    color: white;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
}

/* Change the hover colour of the main menu items */

.nav-bar ul li a:hover {
    background-color: red;
    transition-duration: 1s;
}

/* Hide the dropdown menu by default */

.nav-bar ul.dropdown {
    display: none;
    background-color: #CCCCCC;
    width: 180px;
}

/* Dropdown link flow vertical and now horizontal */

.nav-bar ul.dropdown li {
    float: none;
}

/* Format the links for the menu items - 1st level */

.nav-bar ul.dropdown li a {
    background: black;
    color: white;
    display: block;
    text-align: left;
}

/* Hover properties for the dropdown menu */

.nav-bar ul.dropdown li a:hover {
    background: white;
    color: Black;
}

/* Show the menu items for 1st Menu */

.nav-bar ul li:hover .dropdown {
    display: block;
}

/* Hide the second level menu by default */

.nav-bar ul.sec-drop {
    display: none;
    position: absolute;
    width: 180px;
    margin-left: 180px;
    margin-top: -55px;
}

/* Display the second level menu on hover */

.nav-bar ul.dropdown li:hover ul.sec-drop {
    display: block;
}

/* Format right NAV Button */

.nav-bar .login-register {
    float: right;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}