/*Entire navigation bar CSS*/
.navbar {
    background-color: black;
    max-width: 1000px;
    margin: 0 auto;
}

/* Dropdown Button */
.dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*Content for the Single Buttons*/
.nav-button {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: block;
    background-color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
}

.topnav-right {
    float: right;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: white;
    color: black
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: red;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 60px;
}