/***** Other CSS for Header *****/
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 20px;
    background-color: #aec3b0;
}
/***** Body Styles CSS *****/
body {
    background: lightblue;
    font-family: "Arial", SansSerif;
    font-style: normal;
    margin: 0 auto;
    max-width: 950px;
}
/***** H1 Styles CSS *****/
h1 {
    color: black;
    text-align: left;
    font-family: "Arial", SansSerif;
    font-size: 25px;
}
/***** H2 Styles CSS *****/
h2 {
    color: black;
    text-align: left;
    font-family: "Arial", SansSerif;
    font-size: 20px;
    margin-top: 0px;
}
/***** H5 Styles CSS *****/
h5 {
    color: black;
    text-align: left;
    font-family: "Arial", SansSerif;
    font-size: 20px;
    margin-top: 0px;
}
/***** Typical Paragraphs Styles CSS *****/
p, dt, ul {
    font-family: "Arial", SansSerif;
    font-size: 14px;
    text-align: left;
    line-height: 200%;
    color: black;
}
/***** Header CSS *****/
.header{
    background-color: #598392;
}
/****** Main Footer CSS ******/
* {
    box-sizing: border-box;
}
.column{
    background-color: #598392;
    font-family: Arial, SansSerif;
    font-size: 12pt;
    float: left;
    padding: 10px;
    width: 33.33%;
    /*Clear Floats After*/
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width:700px){
    .column{
        width: 100%;
    }
}