/* Products Page General CSS */
.grid-column {
    float: left;
    flex: 50%;
    background-color: whitesmoke;
    padding: 5px;
}

.grid-item {
    display: flex;
    float: left;
    background-color: whitesmoke;
    border: 1px transparent;
    padding: 10px 1px;
    font-size: 14px;
    text-align: left;
}

.text-wrapper {
    padding: 5px 20px;
}

.row-page {
    display: flex;
    /*float: left;*/
    background-color: whitesmoke;
    border: 1px transparent;
    padding: 10px 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: left;
}

.column-page {
    /*float: left;*/
    flex: 50%;
    background-color: whitesmoke;
    padding: 5px;
    min-height: 500px;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}