/* Rescue Equipment General CSS */
.rescue-page {
    width: 80%;
}

.rescue-page .rescue-equipment-content {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;
}

.rescue-page .rescue-equipment-content li {
    clear: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12pt;
    line-height: 1.6;
    text-align: justify;
}

.rescue-page .rescue-equipment-content p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12pt;
    line-height: 1.6;
    text-align: justify;
}

.rescue-page .rescue-images {
    display: flex;
}

.rescue-page .rescue-images .getmie-image {
    flex: 20%;
}

.rescue-equipment-content img {
    margin: auto 5px;
}

/* Media query for phones*/

@media only screen and (min-width: 375px) and (max-width:640px) {
    .rescue-images {
        align-items: center;
        flex-direction: column;
    }
}