.main-page .rescue-equipment-container {
    display: flex;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    text-align: justify;

}

main-page .rescue-equipment-container .rescue-equipment-content {
    clear: left;
}

.rescue-equipment-content li, p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12pt;
    line-height: 1.6;
    text-align: justify;
}