.training-gallery {
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  min-height: 700px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.training-gallery .training-block {
  border: 1px solid black;
  max-width: 33.3%;
  height: 300px;
  flex: 1;
}
.training-gallery .training-images {
  height: 250px;
  display: flex;
  align-content: center;
}

.training-gallery .training-block .gallery-text {
  text-align: left;
}
