.training-gallery {
	width: 80%;
	margin: 0 auto;
	min-height: 500px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.training-gallery .training-block {
	padding: 2%;
	width: 25%;
	height: 200px;
}

.training-gallery .training-block:hover {
	border: 1px solid red;
}
.training-gallery .training-images {
	transition: 1s;
	padding: 15px;
	width: 200px;
	height: 200px;
	display: flex;
	align-content: center;
	object-fit: cover;
	overflow: hidden;
}

.training-gallery .training-images :hover{
	filter: grayscale(100%);
	transform: scale(1.1);
}

.training-gallery .training-block .gallery-text {
	text-align: centre;
	
	padding: 2%;
}
